#app {
  height: 100vh;
  overflow: hidden;
}

body {
  font-family: 'Open Sans', 'PingFangSC','helvetica neue','arial','microsoft yahei ui','microsoft yahei','simsun','sans-serif';
  margin: 0;
}

.fontLoaded {
  font-family: 'Open Sans', 'PingFangSC','helvetica neue','arial','microsoft yahei ui','microsoft yahei','simsun','sans-serif';
}